<%-include("header.ejs")%>
<i class="icon-arrow-down"></i>

<div class="d-flex flex-wrap gap-5 my-5 justify-content-center">

    <% if(locals.posts){ posts.forEach(p => { %>
      <% var formatedDate = new Date(p.date).toLocaleString("en-US",{year: "numeric", month:"long", day:"numeric"}); %>

        <div class="col-5 bg-darker text-light rounded-4 p-4">  
        <p class="fw-bold fs-5"><%=p.title %></p>
        <div class="d-flex justify-content-between">
          <p class="fw-light "><%=formatedDate %></p>
        </div>
       
        <p class="post-content"><%=p.content %></p>
        <div class="d-flex justify-content-between pt-1">        
          <p class="fw-semibold align-middle"><%=p.author %></p>
          <a href="/post/<%= p.id %>" class="btn btn-outline-light justify-content-end" type="button">See More</a>
        </div>
      </div>
    </a>
    <% }); } %>

  </div>

  <%-include("footer.ejs")%>
