<%-include("header.ejs")%>
  <body>
    <a href="/create-post">Create a new post</a>

    <% console.log(posts) %> <% if(locals.posts){ posts.forEach(p => { %>
      <a href="/post/<%= p.id %>"> <div>  <h1><%=p.title %></h1>
        <p><%=p.date %></p>
        <p><%=p.author %></p>
        <p><%=p.content %></p></div></a>
   
  
    <% }); } %>
  </body>
</html>
