<%-include("header.ejs")%>

<div class="d-flex justify-content-end my-5 mb-3 me-5 gap-3 ">
  <form method="GET" action="/post/edit-access/<%= post.id %>">
    <input type="submit" value="Edit" class="btn btn-secondary">
  </form>
<form method="GET" action="/delete-post-access/<%=  post.id %>">
    <input type="submit" value="Delete" class="btn btn-danger">
    
  </form>
</div>
   
<% var formatedDate = new Date(post.date).toLocaleString("en-US",{year: "numeric", month:"long", day:"numeric", hour:"numeric", minute:"numeric"}); %>

    <% if(locals.post){ %>
      <div class="container text-light" style="width:60vw">
        <h1 class="fw-5"><%=post.title %></a></h1>
        <p style="font-weight: 200;"><%=formatedDate %></p>
        <p style="font-weight: 300;"><%=post.author %></p>
        <p style="width:50vw;line-height: 200%;font-weight: 500;"><%=post.content %></p>
      </div>

    <% } %>
 <%-include("footer.ejs")%>
