<%-include("header.ejs")%>

<div class="d-flex justify-content-end mt-3 mb-3 me-5 gap-3 ">
  <form method="GET" action="/post/edit/<%= post.id %>">
    <input type="submit" value="Edit" class="btn btn-light">
  </form>
<form method="POST" action="/delete-post/<%=  post.id %>?_method=DELETE">
    <input type="submit" value="Delete" class="btn btn-light">
  </form>
</div>
   
<% var formatedDate = new Date(post.date).toLocaleString("en-US",{year: "numeric", month:"long", day:"numeric", hour:"numeric", minute:"numeric"}); %>

    <% if(locals.post){ %>
      <div class="container text-light" style="width:60vw">
        <h1><%=post.title %></a></h1>
        <p><%=formatedDate %></p>
        <p><%=post.author %></p>
        <p ><%=post.content %></p>
      </div>

    <% } %>
 <%-include("footer.ejs")%>
